{% extends 'public/layout.html' %}
{% block title %}Registrar Destino{% endblock %}

{% block body %}


<section>
    <h2>
        <a href="/" class="left" title="Volver"><i class="bi bi-arrow-left-circle"></i></a>
        Registrar Nuevo Destino
        <hr>
    </h2>

    <form action="{{ url_for('formAddDestino') }}" method="POST" class="mb-3" autocomplete="off" enctype="multipart/form-data">
        <div class="row">
            <div class="col">
                <label for="titulo">Titulo</label>
                <input type="text" name="marca" class="form-control" required>
            </div>
            <div class="col">
                <label for="descripcion">Descripcion</label>
                <input type="text" name="modelo" class="form-control" required>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <label for="plan">Planes</label>
                <select name="year" class="form-control" required>
                    <option value="">--- Seleccione el Plan ---</option>
                    {% for year in range(2024,2009,-1) %}
                        <option value="{{ year }}"> {{ year }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col">
                <label for="preciofull">Precio Full</label>
                <select name="preciofull" class="form-control" required>
                    <option value="">--- Seleccione el Precio ---</option>
                    <option value="550">550</option>
                    <option value="600">600</option>
                    <option value="650">650</option>
                    <option value="700">700</option>
                </select>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <label for="preciodes">Precio Desc.</label>
                <select name="preciodes" class="form-control" required>
                    <option value="">--- Seleccione Precio ---</option>
                    <option value="350">550</option>
                    <option value="400">600</option>
                    <option value="450">650</option>
                    <option value="500">700</option>
                </select>
            </div>

            <div class="col">
                <label for="favorito">Más Vendido</label>
                <br><br>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="favorito" value="Si" checked>
                    <label class="form-check-label" for="favorito">Si</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="favorito" value="No">
                    <label class="form-check-label" for="favorito">No</label>
                </div>
            </div>
        </div>

        <div class="row mt-4">
            <div class="col">
                <label for="foto">Foto del Destino</label>
                <input type="file" name="foto" class="form-control-file" accept="image/*" required>
            </div>
        </div>
        <hr>

        <input class="button-primary mt-3 btn btn-info btn-block bold" type="submit" value="Guardar Registro">
    </form>
</section>

{% endblock %}